body{
    font-family: 'Times New Roman', Times, serif;
}
.vendas{
    text-align: center;
    width: 800px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%)
}


#cli{
    width: 100%;
}